{% extends 'templates.html.twig' %}

{% block title %}Socials{% endblock %}

{% block body %}

    <div class="wrapper--social">
        <h2 class="title">Let's Get You Setup </h2>
        <hr>
        <p class="description">Connect your social media profiles</p>
        <div class="social--media">
            <div class="social--medium">
                {% if picture is not empty %}
                        <img class="socials--logo picture" src="{{ picture }}"/>
                        <img class="socials--logo miniature" src='img/facebook.png.webp'/>

                    {% else %}
                <a href="{{ path('app_facebook_login') }}">
                        <img class="socials--logo" src='img/facebook.png.webp'/>
                </a>
                    {% endif %}
            </div>
            <div class="social--medium">
                {% if pictureLinkedin is not empty %}
                        <img class="socials--logo picture" src="{{ pictureLinkedin }}"/>
                        <img class="socials--logo miniature" src="img/linkedin.png.webp"/>
                    {% else %}
                <a href="{{ path('app_linkedin_login') }}">
                        <img class="socials--logo" src="img/linkedin.png.webp"/>
                </a>
                    {% endif %}

            </div>
            <div class="social--medium">

                    {% if pictureTwitter is not empty %}
                        <img
                                class="socials--logo picture twitter"
                                src="{{ pictureTwitter }}"
                        />
                        <img
                                class="socials--logo miniature"
                                src="img/twitter.png"
                        />
                    {% else %}
                <a href="{{ path('app_twitter_login') }}">
                        <img
                                class="socials--logo"
                                src="img/twitter.png"
                        />
                </a>
                    {% endif %}


            </div>
        </div>

    </div>

{% endblock %}
