<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}template{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="css/form.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as <span>{{ app.user.userIdentifier }}</span>, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <form method="post" class="my--form">
        <h1 class="h3 mb-3 font-weight-normal">Please sign {{ upOrIn }}</h1>
        {% block body %}{% endblock %}
    <button class="btn btn-lg btn-primary" type="submit">
    {{ method }}
    </button>
    <button class="btn btn-lg btn-primary google" type="submit">
        <i class="fab fa-google" ></i>
        <a  class="google-link" href="{{ path(url) }}">Sign {{ upOrIn}} with Google</a>
    </button>
        {% if upOrIn == "in" %}
            <p>New here? <a href="{{ path('app_register') }}">Signup</a></p>
        {% else %}
            <p>Already got an account? <a href="{{ path('app_login') }}">Login</a></p>
        {% endif %}
    </form>
</body>
</html>



